*, *:before, *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  padding:1em;
  padding-bottom:3em;
}
#version {
  background-color:rgba(20,20,20,0.6);
  bottom:0;
  color:#ffffff;
  left:1em;
  padding:.5em 1em .25em 1em;
  position:fixed;
  -webkit-border-top-right-radius:.5em;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:.5em;
  -moz-border-radius-topright:.5em;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:.5em;
  border-top-right-radius:.5em;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-top-left-radius:.5em;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
#filter-form {
  background-color:#eeeeee;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);
  box-shadow:0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
  border-radius:.5em;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  -webkit-transition:box-shadow 0.2s ease-out;
  -moz-transition:box-shadow 0.2s ease-out;
  transition:box-shadow 0.2s ease-out;
  margin-bottom:1em;
  padding:1em 2em;
}
#filter-form:hover {
  -webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:1px 2px 4px rgba(0,0,0,0.4);
  box-shadow:1px 2px 4px rgba(0,0,0,0.4);
}
#filter-form input { font-size:1.5em; }
#filter-form input[type="search"] {
  margin-bottom:.25em;
  width:100%;
}
.contact {
  background-color:#eeeeee;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);
  box-shadow:0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius:.5em;
  -moz-border-radius:.5em;
  border-radius:.5em;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  -webkit-transition:box-shadow 0.2s ease-out;
  -moz-transition:box-shadow 0.2s ease-out;
  transition:box-shadow 0.2s ease-out;
  margin-bottom:1em;
  padding:1em 2em;
  position:relative;
}
.contact:hover {
  -webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:1px 2px 4px rgba(0,0,0,0.4);
  box-shadow:1px 2px 4px rgba(0,0,0,0.4);
}
.contact ul, .contact ul li {
  margin:0;
  padding:0;
  list-style:none;
}
.contact .contact-fields li { margin:.5em 0; }
.contact .contact-fields label {
  font-weight:bold;
  width:100px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align:top;
}
.contact .contact-action {
  color:#000000;
  position:absolute;
  right:1em;
  top:1em;
}
@media (min-width: 1024px) {
  main {
    margin:0 auto;
    width:960px;
  }
  #version { left:2.5em; }
  #filter-form input[type="search"] {
    margin-bottom:0;
    margin-right:.25em;
    width:80%;
  }
  .contact {
    margin-right:16px;
    width:472px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:top;
  }
  .contact:nth-child(2n) { margin-right:0; }
}
#create-form { display:none; }
.contact.front-facing .contact-edit { display:none; }
.contact.front-facing .contact-view { display:block; }
.contact.back-facing .contact-edit { display:block; }
.contact.back-facing .contact-view { display:none; }
