@import "elements.less";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;

	vertical-align: top;
}

.targeted-transition(@property: all, @duration:0.2s, @ease:ease-out) {
  -webkit-transition: @property @duration @ease;
  -moz-transition: @property @duration @ease;
  transition: @property @duration @ease;
}

.box() {
	background-color: #eeeeee;
	.drop-shadow(0, 1px, 2px, 0.1);
	.rounded(.5em);

	&:hover {
//		background-color: lighten(#eeeeee, 3%);
	}
}

.button() {
	border: 1px solid #ffffff;
	padding: .5em 1em;
	.drop-shadow(0, 1px, 2px, 0.1);
	.rounded(.25em);
	.inline-block();
	.gradient(#dddddd, #dddddd, lighten(#dddddd, 5%));

	&:hover {
		.drop-shadow(1px, 2px, 4px, 0.4);
	}

	&:active {
		.drop-shadow(0, 0, 1px, 0.1);
	}
}

.button-red() {
	.button();
	.gradient(#ff0000, darken(#ff0000, 5%), #ff0000);
}

.list-reset() {
	ul, ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

body {
	padding: 1em;
	padding-bottom: 3em;
}

#version {
	background-color: rgba(20, 20, 20, .6);
	bottom: 0;
	color: #ffffff;
	left: 1em;
	padding: .5em 1em .25em 1em;
	position: fixed;

	.border-radius(.5em, 0, 0, .5em);
}

#filter-form {
	.box();

	margin-bottom: 1em;
	padding: 1em 2em;

	input {
		font-size: 1.5em;
	}

	input[type="search"] {
		margin-bottom: .25em;
		width: 100%;
	}

	input[type="submit"] {
		.button();
		padding: .1em .25em;
	}
}

#create-form {
	.box();
	margin-bottom: 1em;
	padding: 1em 2em;
	opacity: .5;

	.targeted-transition(opacity);

	&:hover, &:focus {
		opacity: 1;
	}

	input, textarea {
		border: 1px solid #dddddd;
		.inline-block();
		margin: .25em .5em .25em 0;
		width: 100%;
	}
	
	textarea {
		height: 3em;
		resize: vertical;
	}

	input[type="submit"] {
		.button();
		.inline-block();
		width: auto;
	}
}

.contact {
	.box();

	margin-bottom: 1em;
	padding: 1em 2em;
	position: relative;

	.list-reset();

	h1 {
		margin: 0 0 .5em 0;
	}

	.contact-fields {
		li {
			margin: .5em 0;
		}

		label {
			font-weight: bold;
			width: 100px;
			.inline-block();
		}
	}

	.contact-action {
		color: #000000;
		font-size: 1.5em;
		position: absolute;
		right: 1em;
		top: 1em;
	}

	&.front-facing {
		.contact-edit {
			display: none;
		}

		.contact-view {
			display: block;
		}
	}

	&.back-facing {
		.contact-edit {
			display: block;
		}

		.contact-view {
			display: none;
		}
	}

	.contact-edit {
		ul {
//			font-size: 1.25em;
		}

		li {
			margin: .25em 0;
		}

		input, textarea {
			border: 1px solid #dddddd;
			.inline-block();
			margin: .25em .5em .25em 0;
			width: 90%;
		}
	
		textarea {
			height: 3em;
			resize: vertical;
		}


		input[type="submit"] {
			.button();
			width: auto;
		}

		.d-d-d-danger {
			margin-top: 1em;

			a {
				color: #ffffff;
				font-size: .75em;
				float: right;
				text-decoration: none;

				.button-red();
			}
		}
	}
}

@media (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 960px;
	}

	#version {
		left: 2.5em;
	}

	#filter-form {
		input[type="search"] {
			margin-bottom: 0;
			margin-right: .25em;
			width: 80%;
		}
	}

	.contact {
		margin-right: 16px;
		width: 472px;

		.inline-block();

		&:nth-child(2n) {
			margin-right: 0;
		}

		.contact-action {
			font-size: 1em;
		}
	}


	#create-form {
		input, textarea {
			width: 220px;
		}

	input[type="submit"] {
		float: right;
	}
}

}



/*
	unschön, dass man wegen der abs. Positionierung die Maße der Box manuell festlegen muss
.csstransforms3d {
	.contact {
		position: relative;
	}

	.contact-edit, .contact-view {
		position: absolute;
	}

	.contact.front-facing {
		.contact-edit {
			transform: rotateY( 180deg );
		}
	}
}

.no-csstransforms3d {
}*/
